<div class="control-group">
    <label class="control-label" for="user">Administrator E-mail <span class="required">*</span></label>
    <div class="controls">
        <input name="user" id="user" type="text" placeholder="Enter E-mail"/>
        <span class="help-block">
            Administrator e-mail address for the AppScale instance being deployed. Once the
            deployment is complete you will be able to login to the AppScale cloud using this
            e-mail address as a username. You may specify any e-mail address here.
        </span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="pass">Administrator Password <span class="required">*</span></label>
    <div class="controls">
        <input name="pass" id="pass" type="password" placeholder="Enter Password"/>
        <span class="help-block">
            Administrator password for the AppScale instance being deployed. Once the
            deployment is complete you will be able to login to the AppScale cloud using this
            password. Password must be at least 6 characters long.
        </span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="pass2">Confirm Password <span class="required">*</span></label>
    <div class="controls">
        <input name="pass2" id="pass2" type="password" placeholder="Confirm Password"/>
        <span class="help-block">
            Retype and confirm your administrator password.
        </span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="keyname">Key Name <span class="required">*</span></label>
    <div class="controls">
        <input name="keyname" id="keyname" type="text" placeholder="Enter Key Name"/>
        <span class="help-block">
            Name of the cryptographic key which will be used to connect to all the
            machines/VMs in the cluster. This can be any random string (eg: appscale).
            If the specified key does not exist, a new key pair will be generated and
            stored under the specified name.
        </span>
    </div>
</div>
<%
   repo_path = File.join(File.expand_path(File.dirname(__FILE__)), '..', 'repository')
   if Dir.glob(repo_path + '/*').length > 0 %>
    <div class="control-group">
        <label class="control-label" for="target_app">Target Application <span class="required">*</span></label>
        <div class="controls">
            <select name="target_app">
                <option value="_none_">None</option>
                <% for item in Dir.glob(repo_path + "/*") %>
                    <% if File.directory?(item) %>
                        <option value="<%=File.basename(item)%>"><%=File.basename(item)%></option>
                    <% end %>
                <% end %>
            </select>
            <span class="help-block">
                List of applications available for deployment. Select "None" if you don't
                want to start AppScale preloaded with an application.
            </span>
        </div>
    </div>
<% end %>
<div class="control-group">
    <div class="controls">
        <button type="submit" name="submit" class="btn btn-primary">Launch</button>
    </div>
</div>
