<form method="POST" id="iaas_ec2_form" action="iaas_ec2.do" enctype="multipart/form-data" class="well form-horizontal span12">
    <legend>AppScale Deployment for IaaS (EC2)</legend>
    <ul>
        <li>
            Before you can deploy AppScale on Amazon EC2, you must have a valid Amazon AWS
            account. Your Amazon AWS/EC2 credentials (access key, secret key, primary key and
            X509 certificate) need to be entered in this form. Therefore if you don't have an
            AWS account yet, or if you don't have your AWS/EC2 credentials with you, please
            head over to <a href="http://aws.amazon.com/">AWS homepage</a> and get the necessary
            accounts and credentials set up.
        </li>
        <li style="color: red;">All fields on this form are required.</li>
    </ul>
    <hr/>
    <div class="control-group">
        <label class="control-label" for="min">Minimum Instances <span class="required">*</span></label>
        <div class="controls">
            <input name="min" id="min" type="text" value="1"/>
            <span class="help-block">
                Minimum number of EC2 instances that should be used for this AppScale
                deployment.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="max">Maximum Instances <span class="required">*</span></label>
        <div class="controls">
            <input name="max" id="max" type="text" value="1"/>
            <span class="help-block">
                Maximum number of EC2 instances that should be used for this AppScale
                deployment.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ami">AMI ID <span class="required">*</span></label>
        <div class="controls">
            <input name="ami" id="ami" type="text" placeholder="Enter AMI ID"/>
            <span class="help-block">
                Identifier of the Amazon Machine Image (AMI) that should be used to
                spawn the required cloud VMs.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="instance_type">Instance Type <span class="required">*</span></label>
        <div class="controls">
            <select name="instance_type">
                <option value="m1.large">m1.large (Large)</option>
                <option value="m1.xlarge">m1.xlarge (Extra Large)</option>
                <option value="c1.xlarge">c1.xlarge (High CPU Extra Large)</option>
            </select>
            <span class="help-block">
                Select an EC2 instance type that meets your computation resource
                requirements. Click <a href="http://aws.amazon.com/ec2/instance-types/">
                here</a> for resource and pricing information on each instance type.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="region">Region <span class="required">*</span></label>
        <div class="controls">
            <select name="region">
                <option value="us-east-1">US East (Northern Virginia)</option>
                <option value="us-west-1">US West (Oregon)</option>
                <option value="us-west-2">US West (Northern California)</option>
            </select>
            <span class="help-block">
                Select an EC2 availability region. All the EC2 VM instances used
                for this AppScale deployment will be spawned within the selected
                region.
            </span>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <label class="control-label" for="username">Amazon Username <span class="required">*</span></label>
        <div class="controls">
            <input name="username" id="username" type="text" placeholder="Enter Username"/>
            <span class="help-block">
                Specify your Amazon username. This is the username you generally
                use to login to any Amazon or AWS related website.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="private_key">EC2 Private Key <span class="required">*</span></label>
        <div class="controls">
            <input name="private_key" id="private_key" type="file"/>
            <span class="help-block">
                Upload your EC2 private key in PEM format. If you don't have an EC2
                private key, you can download one from your AWS Security Credentials page.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="cert">EC2 X509 Certificate <span class="required">*</span></label>
        <div class="controls">
            <input name="cert" id="cert" type="file"/>
            <span class="help-block">
                Upload your EC2 X509 certificate in PEM format. If you don't have an EC2
                certificate, you can download one from your AWS Security Credentials page.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="access_key">EC2 Access Key <span class="required">*</span></label>
        <div class="controls">
            <input name="access_key" id="access_key" type="text" placeholder="Enter Access Key"/>
            <span class="help-block">
                Specify your EC2 access key. If you don't have an access key, you
                may generate one at the AWS Security Credentials page.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="secret_key">EC2 Secret Key <span class="required">*</span></label>
        <div class="controls">
            <input name="secret_key" id="secret_key" type="text" placeholder="Enter Secret Key"/>
            <span class="help-block">
                Specify your EC2 secret key. If you don't have a secret key, you
                may generate one at the AWS Security Credentials page.
            </span>
        </div>
    </div>
    <hr/>
    <%= erb:_common %>
</form>