<form method="POST" id="iaas_euca_form" action="iaas_euca.do" enctype="multipart/form-data" class="well form-horizontal span12">
    <legend>AppScale Deployment for IaaS (Eucalyptus)</legend>
    <ul>
        <li>
            Before you can deploy AppScale on Eucalyptus, you must have a valid Eucalyptus
            account on your target cloud. URLs of the Eucalyptus deployment and its Walrus
            instance should be entered in this form. In addition to that your Eucalyptus
            credentials (access key, secret key, primary key and X509 certificate) should be
            entered in this form as well.
        </li>
        <li style="color: red;">All fields on this form are required.</li>
    </ul>
    <hr/>
    <div class="control-group">
        <label class="control-label" for="euca_min">Minimum Instances <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_min" id="euca_min" type="text" value="1"/>
            <span class="help-block">
                Minimum number of Eucalyptus instances that should be used for this AppScale
                deployment.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_max">Maximum Instances <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_max" id="euca_max" type="text" value="1"/>
            <span class="help-block">
                Maximum number of Eucalyptus instances that should be used for this AppScale
                deployment.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_emi">EMI ID <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_emi" id="euca_emi" type="text" placeholder="Enter EMI ID"/>
            <span class="help-block">
                Identifier of the Eucalyptus Machine Image (EMI) that should be used to
                spawn the required cloud VMs.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_instance_type">Instance Type <span class="required">*</span></label>
        <div class="controls">
            <select name="euca_instance_type">
                <option value="m1.large">m1.large (Large)</option>
                <option value="m1.xlarge">m1.xlarge (Extra Large)</option>
                <option value="c1.xlarge">c1.xlarge (High CPU Extra Large)</option>
            </select>
            <span class="help-block">
                Select an Eucalyptus instance type that meets your computation resource
                requirements.
            </span>
        </div>
    </div>
    <hr/>
    <div class="control-group">
        <label class="control-label" for="euca_url">Eucalyptus URL <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_url" id="euca_url" type="text" placeholder="Enter URL"/>
            <span class="help-block">
                Specify your Eucalyptus URL.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_walrus_url">Walrus URL <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_walrus_url" id="euca_walrus_url" type="text" placeholder="Enter URL"/>
            <span class="help-block">
                Specify your Walrus URL.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_username">Eucalyptus Username <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_username" id="euca_username" type="text" placeholder="Enter Username"/>
            <span class="help-block">
                Specify your Eucalyptus username.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_private_key">Eucalyptus Private Key <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_private_key" id="euca_private_key" type="file"/>
            <span class="help-block">
                Upload your Eucalyptus private key in PEM format. If you don't have an Eucalyptus
                private key, you can download one from your Eucalyptus home page.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_cert">Eucalyptus X509 Certificate <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_cert" id="euca_cert" type="file"/>
            <span class="help-block">
                Upload your Eucalyptus X509 certificate in PEM format. If you don't have an Eucalyptus
                certificate, you can download one from your Eucalyptus home page.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_access_key">Eucalyptus Access Key <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_access_key" id="euca_access_key" type="text" placeholder="Enter Access Key"/>
            <span class="help-block">
                Specify your Eucalyptus access key. If you don't have an access key, you
                may generate one at the Eucalyptus home page.
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="euca_secret_key">Eucalyptus Secret Key <span class="required">*</span></label>
        <div class="controls">
            <input name="euca_secret_key" id="euca_secret_key" type="password" placeholder="Enter Secret Key"/>
            <span class="help-block">
                Specify your Eucalyptus secret key. If you don't have a secret key, you
                may generate one at the Eucalyptus home page.
            </span>
        </div>
    </div>
    <hr/>
    <% @prefix = 'euca' %>
    <%= erb:_common %>
</form>