<html>
<head>
    <title>AppsCake - Launch Successful</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src="js/bootstrap.min.js"></script>
<div class="container">
    <div class="page-header">
        <h1>AppsCake <small>Makes deploying AppScale a piece of cake!</small></h1>
    </div>
    <div class="row">
        <div id="content" class="span12 well">
            <h3>Your AppScale Cloud is Being Deployed</h3>
            <p>Your deployment timestamp: <%= @timestamp %></p>
            <p>Your deployment process ID: <%= @pid %></p>
            <p>You can check the progress of the deployment at <a href="view_logs?ts=<%= @timestamp %>">cloud deployment log</a></p>
            <%= @html %>
            <button class="btn btn-primary" onclick="javascript: document.location.href='/'">Back to Home</button>
        </div>
    </div>
</div>
</body>
</html>
