/* =============================================================================
   App specific CSS file.

   This is usually where the site/app's CSS specific rules are setup. Note that you could
   do exactly the same using less by adding a '@import "app.less";' at the end of
   css/less/bootstrap.less file.

   ========================================================================== */

#root_pass, #admin_pass, #id_machine, #id_ec2_euca_url, #cloud_admin_pass, #cloud_pass_confirm,
#pass_confirm, #keyname, #email, #id_key, #id_secret, #id_deploy_option1, #id_deploy_option2,
#dk_container_id_machine, #dk_container_infrastructure, #gce-credentials, #gce-image-name, #gce-project-id{
    width: 288px;
}


.dk_options_inner, .dk_options{
    width: 280px;
}


.strat_fix {
    width: 300px;
}

#ips_yaml {
    width: 555px;
    height: 200px;
}

#launch {
    bottom: 10px;
    left: 10px;
}

#infra_choice li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#id_cloud_type_1 {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}


html, body {height:100%;overflow:auto}

.box{
    display:block;
}

#selectField{
    border: 1px solid #ddd;
    width: 200px;
}

#percent {
    display: none;
}

#status.li {
    list-style: none;
}

.required {
    color: firebrick;
}

#logo{
    width: 50px;
    position: absolute;
    top: 12px;
    z-index: 10000;
}

.brd {
    float: left;
    border-right: 1px solid #808080;
}

#amount {
    margin:-10px 0 10px 12px;border: 1px solid #808080;color:#16a085;width: 20px;font-weight:bold; display: inline;
}