{% extends "_layouts/base.html" %}

{% block page_title %}AppsCake by AppScale{% endblock %}
{% block page_class %}Home{% endblock %}
{% block content %}

        <div class="row">
            <div class="offset4 span8">
                <h1>About AppScale</h1>
                <p>AppsCake is provided by AppScale Systems, the makers of AppScale.</p>


                <form id="demo-form" data-validate="parsley">
                    <label for="fullname">Full Name * :</label>
                    <input type="text" id="fullname" name="fullname" data-required="true" />

                    <label for="email">Email * :</label>
                    <input type="text" id="email" name="email" data-trigger="change" data-required="true" data-type="email" />

                    <label for="website">Website :</label>
                    <input type="text" id="website" name="website" data-trigger="change" data-type="url" />

                    <label for="message">Message (20 chars min, 200 max) :</label>
                    <textarea id="message" name="message" data-trigger="keyup" data-rangelength="[20,200]"></textarea>

                    <button type="submit" style="margin:0px 0 0 16px; width: 280px;" class="btn btn-large btn-success pull-left">Launch Now!</button>
                </form>


            </div>
        </div>

    <hr>
    {% endblock %}
