{% extends "_layouts/base.html" %}
{% block content %}

    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="span12 hero-unit">
                <h1>Welcome to AppsCake!</h1>
                <h3>AppsCake makes deploying AppScale a piece of cake!</h3>
                <p>
                    AppsCake currently supports deployment strategies over Amazon EC2, Eucalyptus and
                    Virtualbox.</p>
                <p><a href="http://www.appscale.com/" class="btn btn-primary btn-large">Learn more about AppScale &raquo;</a></p>
                <hr/>




            </div>
        </div>



        <div class="row">
            <div class="span12">

                <form action="/start/" method="post" data-validate="parsley"> {% csrf_token %}

                    <label>Choose deployment infrastructure:</label>
                    <label class="radio"><input class="" id="rdb1
                    optionsRadio1" type="radio" name="toggler" value="1"
                                                onclick="changeDeployType"
                            />Cluster</label>
                    <label class="radio"><input class="" id="rdb2" type="radio" name="toggler" value="2"  />Cloud</label>


                    <div id="blk-1" class="toHide" style="display:none">
                        <div class="span4" id="clusterDiv">
                            {{ form.non_field_errors }}
                            <label for="email">Admin Email:</label>
                            {{ form.admin_email }}
                            <label for="id_admin_pass">Admin password:</label>
                            {{ form.admin_pass }}
                            <label for="id_pass_confirm">Confirm password:</label>
                            {{ form.pass_confirm }}
                            {{ form.cluster }}
                            <br><br>
                            <button type="submit" style="margin:0px 0 25px 16px; width: 280px;" class="btn btn-large btn-success pull-left">Launch Now!</button>

                        </div>

                        <div class="span6">
                            <p>Enter the desired deployment strategy in the dialog box below,
                                if you are unfamiliar with how this works, please visit the
                                <a href="https://github.com/AppScale/appscale/wiki/Advanced-Deployment">docs</a>.
                                Below is a sample strategy: </p>
                                <pre>
  master : 192.168.33.10
  appengine: 192.168.33.10
  database: 192.168.33.10
  zookeeper: 192.168.33.10
                                </pre>
                            <label for="id_ips_yaml">Enter your ips.yaml configuration below:</label>
                            {{ form.ips_yaml }}
                            {{ field }}
                </form>
            </div>
        </div>
    </div>


    </div>





    <div id="blk-2" class="row toHide" style="display:none">

        <div class="span4" id="">
            <form action="/start/" method="post" id="appscake-form" data-validate="parsley"> {% csrf_token %}
                {{ form.non_field_errors }}

                <label>Please select a deployment strategy:</label>
                

                {{ form.deployment_type }}
                <label for="email">Admin Email:</label>
                {{ form.admin_email }}
                <label for="id_admin_pass">Admin password:</label>
                {{ form.cloud_admin_pass }}
                <label for="id_pass_confirm">Confirm password:</label>
                {{ form.cloud_pass_confirm }}
                <label for="deploy_option1">Choose infrastructure:</label>
                {{ form.infrastructure }}
                <label>EC2/Eucalyptus URL (required for Eucalyptus):</label>
                {{ form.ec2_euca_url }}
                <label for="machine">Choose machine type:</label>
                {{ form.machine }}
                <label for="secret">Enter your Amazon EC2/Eucalyptus
                Access Key:</label>
                {{ form.secret }}
                <label for="key">Enter your Amazon EC2/Eucalyptus Secret Key:</label>
                {{ form.key }}
                {{ form.cloud }}
                <br><br>
                <button type="submit" style="margin:0px 0 25px 16px; width: 280px;" class="btn btn-large btn-success pull-left">Launch Now!</button>

        </div>

        <div class="span6">



            <div id="ADVANCED_DEPLOYMENT" class="box" style="display: none;">
                <p>Enter the desired deployment strategy in the dialog box below,
                    if you are unfamiliar with how this works, please visit the
                    <a href="https://github.com/AppScale/appscale/wiki/Advanced-Deployment">docs</a>.
                    Below is a sample strategy: </p>
                                <pre>
  master : node-1
  appengine: node-2
  database: node-3
  zookeeper: node-4
                                </pre>
                <label for="id_ips_yaml">Enter your ips.yaml configuration below:</label>
                {{ form.ips_yaml }}
            </div>
            <div id="SIMPLE_DEPLOYMENT" class="box">
                <label>Minimum number of nodes:</label>
                {{ form.min_nodes }}
                <label>Maximum number of nodes:</label>
                {{ form.max_nodes }}

            </div>

            </form>
        </div>




    </div>
    </div>




{% endblock %}