{% extends "_layouts/base.html" %}

{% block page_title %}AppsCake{% endblock %}
{% block page_class %}Home{% endblock %}
{% block content %}

<div class="container">
    <div class="span10 hero-unit">
        <h1>Welcome to AppsCake!</h1></br>
        <p>AppsCake is an easy to use web app capable of deploying AppScale, the open source app engine, over various infrastructures.
            AppsCake currently supports deployment strategies over Amazon EC2, Eucalyptus Private Cloud and
            Virtualbox.</p>
        <p><a href="http://www.appscale.com/" class="btn btn-primary btn-large">Learn more about AppScale &raquo;</a></p>
        <hr/>
        <br>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'deploy:submit' deploy.id %}" method="post">
                {% csrf_token %}
                {% for choice in deploy.choice_set.all %}
                <input type="submit" value="{{ deploy.id }}">


            </form>

        <form>
            <div class="row">
                <div class="span4">
                    <label>Deploy over:</label>
                    <select id="iaas" name="Infrastructure" class="span4">
                        <option value="vbox">Virtualbox</option>
                        <option value="ec2">Amazon EC2</option>
                        <option value="euca">Eucalyptus</option>
                    </select>
                    <label>Admin Username:</label>
                    <input type="text" class="span4" placeholder="Your name">
                    <label>Admin Email:</label>
                    <input type="text" class="span4" placeholder="Your Email Address">
                    <label>Admin Password (must be 6+ characters):</label>
                    <input type="text" class="span4" placeholder="Admin password">
                    <label>Confirm Password:</label>
                    <input type="text" class="span4" placeholder="Confirm password">
                    <label>Deployment Keyname:</label>
                    <input type="text" class="span4" placeholder="Name your instance">
                    <br> <br>
                    <button type="submit" style="margin:1px 0 0 -1px;" class="span4 btn btn-large btn-success pull-left">Launch Now!</button>
                </div>
                <div class="span6">
                    <p>Enter the desired deployment strategy in the dialog box below, if you are unfamiliar with how this works, please visit the <a href="http://www.github.com/AppScale/appscale/wiki">docs</a>. Below is a sample strategy: </p>
                                <pre>
master : 192.168.33.10
appengine: 192.168.33.10
database: 192.168.33.10
zookeeper: 192.168.33.10
                                </pre>
                    <label>Enter your ips.yaml configuration below:</label>
                    <textarea name="message" id="message" class="input-xlarge span6" rows="10"></textarea>
                </div>


            </div>
        </form>
    </div>
    {% endblock %}
