{% extends '_layouts/base.html' %}

{% block content %}

  <script type="text/javascript">
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      crossDomain: false, // obviates need for sameOrigin test
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", '{% csrf_token %}');
        }
      }
    });

  </script>

  <script type="text/javascript">

    /* window.onload=function(){
      $("#init").html('Initializing');
      $("#progress").css('width','0%');
      $("#progress").html('0%');
        console.log('hello');
    };
*/
    $(document).ready(function(){
      var progresspump = setInterval(function(){
        $.getJSON("/getstatus/",
                {"keyname": "{{ keyname }}"}, function(data){
                  console.log('hello');
          if(data.status == "complete") {
            clearInterval(progresspump);
            $("#progressouter").removeClass("active");
            $("#progress").html(data.link);
          }
          else if(data.status == 'error'){
            $.('#init').html(data.error_message)
          }
          else if(data.status == 'running'){
            $("#progress").css('width',data.percent+'%');
            $("#progress").html(data.percent+'%');
            $('#init').html(data.status);
          }
        })
        /*poll every 5000ms*/
      }, 5000);

    });


  </script>



    <div class="container">
        <div class="row">
            <div style="text-align: center;" class="span10 hero-unit">
                <h1>Congratulations!</h1>
                <hr>
                <h4> Your cloud is being processed, please be patient.</h4>
                    <!--<img width="5%"  src="{{ STATIC_URL }}img/illustrations/settings.png">-->

                <div style="width:600px; margin:25px 0 0px 180px;">
                  <div style="height: 40px" class="progress progress-success
                  progress-striped
                  active"
                       id="progressouter">
                    <div class="bar" id="progress"></div>
                  </div>
                </div>
                    <hr>
              <div style="text-align: center;">
                  <h3>AppScale Status:</h3>
                  <h1 id="init"></h1>
                </div>

              </div>

            </div>
        </div>
    </div>







{% endblock %}
